In [2]:
df = pd.read_csv("EPL.csv")

In [4]:
df[['club_name','position','points','won','drawn','lost','ga','gd','gf','player']]

,club_name,position,points,won,drawn,lost,ga,gd,gf,player
0,Liverpool,1,79,26,1,1,20,44,64,28
1,Manchester City,2,57,18,3,6,29,39,68,27
2,Leicester City,3,50,15,5,8,28,26,54,28
3,Chelsea,4,45,13,6,9,39,8,47,28
4,Manchester United,5,42,11,9,8,30,12,42,28
5,Wolverhampton Wanderers,6,42,10,12,6,34,7,41,28
6,Tottenham Hotspur,7,40,11,7,10,39,7,46,28
7,Sheffield United,8,40,10,10,7,25,4,29,27
8,Burnley,9,38,11,5,12,39,-6,33,28
9,Arsenal,10,37,8,13,6,36,3,39,27
10,Everton,11,37,10,7,11,42,-5,37,28
11,Crystal Palace,12,36,9,9,10,32,-7,25,28
12,Southampton,13,34,10,4,14,51,-16,35,28
13,Newcastle United,14,32,8,8,12,41,-17,24,28
14,Brighton and Hove Albion,15,28,6,10,12,40,-8,32,28
15,West Ham United,16,27,7,6,15,49,-14,35,28
16,Watford,17,27,6,9,13,43,-16,27,28
17,Bournemouth,18,27,7,6,15,45,-17,28,28
18,Aston Villa,19,25,7,4,16,52,-18,34,27
19,Norwich City,20,21,5,6,17,51,-26,25,28